In [2]:
import pandas as pd
import numpy as np
import re
import ast
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [47]:
df = pd.read_csv('../raw_data/datasets/cv_clean_V0')

In [18]:
len(df['cv_tokens'][0]) # longitud de palabras antes de limpieza

1237

**Limpieza de datos**

In [22]:
stop_words = set(stopwords.words('spanish'))
lemmatizer = WordNetLemmatizer()

In [48]:
def clean_data(df):
    df_copy = df.copy()
    # Convertir las cadenas de texto a lista de token real (pasamos de ["[...]"] a [[]])
    df_copy['cv_tokens'] = df_copy['cv_tokens'].apply(lambda x: ast.literal_eval(x))
    # Stopwords
    df_copy['cv_tokens'] = df_copy['cv_tokens'].apply(lambda tokens: [token for token in tokens if token not in stop_words])
    # Lematizacion de sustantivos
    df_copy['cv_tokens'] = df_copy['cv_tokens'].apply(lambda tokens: [lemmatizer.lemmatize(token, pos='n') for token in tokens])
    # Lematizacion de verbos
    df_copy['cv_tokens'] = df_copy['cv_tokens'].apply(lambda tokens: [lemmatizer.lemmatize(token, pos='v') for token in tokens])
    return df_copy

In [49]:
df=clean_data(df)

In [50]:
len(df['cv_tokens'][0])# longitud de palabras despues de limpieza

93

In [51]:
# Unimos tokens separados por espacios ' '
def join_tokens(df):
    df_copy = df.copy()

    df_copy['cv_tokens'] = df_copy['cv_tokens'].apply(lambda tokens: ' '.join(tokens))
    return df_copy

In [52]:
df = join_tokens(df)

In [53]:
df

    id                                          cv_tokens
0    0  desarrollador full stack experimentado nombre ...
1    1  desarrollador móvil junior nombre ana garcía r...
2    2  desarrollador back end especializado nombre ma...
3    3  desarrollador web front end creativo nombre da...
4    4  desarrollador juegos independiente nombre pedr...
5    5  desarrollador front end senior nombre laura fe...
6    6  desarrollador back end junior nombre carlos sá...
7    7  desarrollador web junior nombre marta lópez re...
8    8  desarrollador web senior nombre andrés martíne...
9    9  desarrollador web full stack experiencia comme...
10  10  enfoque experiencia cisco nombre juan pérez re...
11  11  enfoque experiencia rede inalámbricas nombre m...
12  12  recién graduado experiencia proyecto nombre an...
13  13  graduado certificaciones proyectos personales ...
14  14  ingeniero datos experimentado nombre ana garcí...
15  15  ingeniero datos científico datos nombre javier...
16  16  ingeniera datos experiencia cloud compute nomb...
17  17  científico datos especializado nlp nombre laur...
18  18  analista datos experiencia visualización nombr...
19  19  ingeniero datos experiencia big data nombre ma...
20  20  analista datos experiencia minería datos nombr...
21  21  ingeniero datos experiencia iot nombre david g...
22  22  aspirante científico datos nombre andrea sánch...
23  23  aspirante analista datos nombre alejandro mart...